.preview {
  padding: 1.5rem 1rem;
}

.preview h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--color-text-gray);
}

.preview1 {
  border: var(--border);
  width: 100%;
  min-height: 30%;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

.preview2 {
  border: var(--border);
  width: 100%;
  min-height: 20%;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

pre {
  color: var(--color-text-gray);
}

.preview__img {
  max-width: 100%;
}
