* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;

  --color-text-gray: rgba(0, 0, 0, 0.6);
  --color-text-light: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-bg-primary: #17a2b8;
  --color-bg-red: #dc3545;

  --border: 1px solid var(--color-text-light);
}

body {
  margin: 0;
  background: rgb(249, 247, 247);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cta {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.cta button {
  border: var(--border);
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-right: 1rem;
}

.btn-primary {
  background-color: var(--color-bg-primary);
  color: var(--color-white);
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--color-bg-primary);
  border-color: var(--color-bg-primary);
}

.btn-red {
  background-color: var(--color-bg-red);
  color: var(--color-white);
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-red:hover {
  background-color: transparent;
  color: var(--color-bg-red);
  border-color: var(--color-bg-red);
}
